@model PortfolioProjectNight.Models.Education
@{
    ViewBag.Title = "CreateEducation";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Egitim Bilgisi Girisi</h2>
<form method="post">
    <label>Okul Türü</label>
    <select name="Title" class="form-control">
        <option>Ilköğretım</option>
        <option>Lise</option>
        <option>Üniversite</option>
        <option>Yüksek Lisans (Tezsiz)</option>
        <option>Yüksek Lisans (Tezli)</option>
        <option>Doktora</option>
    </select>
    <br />
    <label>Okul Adi</label>
    <input type="text" name="SubTitle" class="form-control">
    <br />
    <label>Bölüm</label>
    <input name="Description" class="form-control"></input>
    <br />
    <label>Baslama ve Bitirme Yili</label>
    <input name="Date" class="form-control"></input>
    <br />
    <button class="btn btn-info">Egitim Bilgisini Kaydet</button>
</form>

