
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Mesaji Ac</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Elif Yildirim</td>
        <td>Proje Talebi</td>
        <td><a href="#" class="btn btn-warning">Mesaji Ac</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Abdul Hamit</td>
        <td>Proje Destegi</td>
        <td><a href="#" class="btn btn-warning">Mesaji Ac</a></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Mehmet Yildirim</td>
        <td>Freelance Is</td>
        <td><a href="#" class="btn btn-warning">Mesaji Ac</a></td>
    </tr>
</table> 

