@model  PortfolioProjectNight.Models.Experience
@{
    ViewBag.Title = "CreateExperience";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2 class="mb-4">Yeni Deneyim Ekleme SAyfasi</h2>

<form method="post">
    <label>Deneyim Basligi</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />
    <label>Deneyim Alt Basligi</label>
    @Html.TextBoxFor(x => x.SubTitle, new { @class = "form-control" })
    <br />
    <label>Deneyim Aciklamasi</label>
    @Html.TextAreaFor(x => x.Descriription, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Deneyim Olustur</button>
</form>

