
@{
    ViewBag.Title = "CreateSkill";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Yeni Yetenek Ekleme</h2>

<form method="post">
    <label>Yetenek Basligi</label>
    <input type="text" name="SkillName" class="form-control" />
    <br />
    <label>Yetenek Degeri</label>
    <input type="number" name="Rate" class="form-control" />
    <br />
    <br />
    <label>Icon</label>
    <input type="text" name="Icon" class="form-control" />
    <br />
    <br />
    <label>Durum</label>
    <select name="Status" class="form-control">
        <option>True</option>
        <option>False</option>
    </select>
    <br />
    <button class="btn btn-info">Yetenegi Ekle</button>
</form>

