@model List<PortfolioProjectNight.Models.SocialMedia>
@{
    ViewBag.Title = "SocialMediaList";
    Layout = "~/Views/Admin/Index.cshtml";
}


<h2>Sosyal Medya Hesaplari</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>URL</th>
        <th>ICON</th>
        <th>Status</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SocialMediaId</td>
            <td>@item.Title</td>
            <td>@item.Url</td>
            <td>@item.Icon</td>
            @if (item.Status == true)
            {
                <td><a href="/SocialMedia/ChangeSocialStatusFalse/@item.SocialMediaId" class="btn btn-success">Aktif</a></td>
            }
            else
            {
                <td><a href="/SocialMedia/ChangeSocialStatusTrue/@item.SocialMediaId" class="btn btn-danger">Pasif</a></td>
            }

            <td><a href="/SocialMedia/UpdateSocialMedia/@item.SocialMediaId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }


</table>
<a href="/SocialMedia/CreateSocialMedia" class="btn btn-info">Yeni Sosyal Medya Girisi</a>

