
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container">

    <table class="table table-bordered">
        <br /><br />

        <tr>
            <th>Categori ID</th>
            <th>Kategori Adi</th>
            <th>Kategori Durum</th>
            <th>Detaylar</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Sebze MEyve</td>
            <td>Aktif</td>
            <td><button class="btn btn-primary"> Detaylar</button></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Icecekler</td>
            <td>Aktif</td>
            <td><button class="btn btn-primary"> Detaylar</button></td>
        </tr>

        <tr>
            <td>3</td>
            <td>Tatlilar</td>
            <td>Aktif</td>
            <td><button class="btn btn-primary"> Detaylar</button></td>
        </tr>

    
    </table>
</div>