
<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <iframe class="rounded w-100"
                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d85065.23368113044!2d16.29724241979329!3d48.2203180371075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d079e5136ca9f%3A0xfdc2e58a51a25b46!2sViyana!5e0!3m2!1str!2sat!4v1728328704648!5m2!1str!2sat"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

