@model List<PortfolioProjectNight.Models.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
 
}
<h4> Bu alan Hakkinizdaki bilgilerin güncellenmesi icindir.</h4>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Baslik</th>
        <th>Aciklama</th>
        <th>Resim Link</th>
        @*<th>Sil</th>*@
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AbutId</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.ImageUrl</td>
            @*<td><a href="/Skill/DeleteSkill/@item.AbutId" class="btn btn-danger">Sil</a></td>*@
            <td><a href="/About/UpdateAbout/@item.AbutId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
@*<a href="#" class="btn btn-info">Yeni Yetenek Girisi</a>*@